.bgContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}
.mainContainer {
  display: flex;
}
.commentsContainer {
  display: flex;
  flex-direction: column;
}

.heading {
  color: #000000;
  font-size: 45px;
  margin-bottom: 15px;
}
.para {
  color: #000000;
}
.name {
  width: 33%%;
  margin-bottom: 8px;
  padding: 5px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
}
.comment {
  margin: 5px;
  padding: 8px;
}
.commentsImg {
  width: 305px;
  height: 255px;
  margin-left: 155px;
}
.button {
  background-color: #0284c7;
  color: #ffffff;
  width: 33%;
  border: 0 none;
  margin-top: 8px;
  padding: 8px;
  border-radius: 4px;
}
.horizontalContainer {
  text-align: start;
  margin-right: 180px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.horizontalLine {
  border: 1px solid #cbd2d9;
}
.count {
}
.span {
  padding: 5px;
  background-color: #0284c7;
  color: #ffffff;
}
.bottomContainer {
  align-self: flex-start;
}
